AWS_ACCESS_KEY=YOUR_ACCESS_KEY
AWS_SECRET_KEY=YOUR_SECRET_KEY
AWS_REGION=YOUR_REGION
AWS_BUCKET_NAME=YOUR_BUCKET_NAME

ENCRYPTION_SECRET_KEY=YOUR_ENCRYPTION_KEY

EMAIL_USERNAME=YOUR_EMAIL
EMAIL_PASSWORD=YOUR_PASSWORD

STRIPE_PUBLISHABLE_KEY=YOUR_PUBLISHABLE_KEY
STRIPE_SECRET_KEY=YOUR_SECRET_KEY
STRIPE_WEBHOOK_SECRET=YOUR_WEBHOOK_SECRET

ISSUER_URI=YOUR_ISSUER_URI