spring:
  profiles:
    active: dev
  application:
    name: travel-insurance
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls.enable: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${ISSUER_URI}
          audience: ${AUDIENCE}
server:
  servlet:
    context-path: /api/v1
    multipart:
      max-request-size: 10MB
      max-file-size: 10MB
      enabled: true

springdoc:
  default-produces-media-type: application/json

aws:
  s3:
    access-key: ${AWS_ACCESS_KEY}
    secret-key: ${AWS_SECRET_KEY}
    region: ${AWS_REGION}
    bucket-name: ${AWS_BUCKET_NAME}

encryption:
  secret:
    key: ${ENCRYPTION_SECRET_KEY}

stripe:
  secret-key: ${STRIPE_SECRET_KEY}
  publishable-key: ${STRIPE_PUBLISHABLE_KEY}
  webhook-secret: ${STRIPE_WEBHOOK_SECRET}


